  
      header {
        background-image: url('background.jpg');
        background-size: cover;
        background-position: center;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(25, 25, 230);
        text-align: center;
      }

       .jaune {
           color: gold;
           text-shadow: 0px 0px 2px #000000;
        }

        .blanc {
          color: white;
         text-shadow: 0px 0px 2px #000000;
        }
        